# =========================
# Dependencies
# =========================

node_modules/


# =========================
# Build / Cache
# =========================

.next/
out/
dist/
build/

*.tsbuildinfo


# =========================
# Environment
# =========================

.env
.env.*
**/.env
**/.env.*

# Arquivos de exemplo DEVEM ser versionados
!.env.example
!**/.env.example


# =========================
# Logs
# =========================

*.log
logs/
app/logs/


# =========================
# Local service data
# =========================

services/mariadb/data/
services/minio/data/
services/backups/


# =========================
# Local uploads / storage
# =========================

storage/
uploads/
app/storage/
app/uploads/


# =========================
# Database dumps / backups
# =========================

*.sql
*.dump
*.backup


# =========================
# OS / Editors
# =========================

.DS_Store
Thumbs.db

.vscode/
.idea/
# =========================
# Expo / React Native
# =========================

.expo/
.expo-shared/
web-build/
