# MariaDB
MARIADB_PORT="3309"
MARIADB_DATABASE="matchai"
MARIADB_USER="matchai"
MARIADB_PASSWORD="matchai_dev"
MARIADB_ROOT_PASSWORD="matchai_root_dev"

# MinIO
MINIO_API_PORT="9010"
MINIO_CONSOLE_PORT="9011"

MINIO_ROOT_USER="matchai"
MINIO_ROOT_PASSWORD="matchai_minio_dev"
MINIO_BUCKET="matchai-dev"