# =========================
# MatchAI - Services
# LOCAL - NÃO VERSIONAR
# =========================

# =========================
# MariaDB
# =========================

MARIADB_PORT="3306"
MARIADB_DATABASE="matchai"
MARIADB_USER="matchai"
MARIADB_PASSWORD="matchai_dev_2026"
MARIADB_ROOT_PASSWORD="matchai_root_dev_2026"

# =========================
# MinIO
# =========================

MINIO_ROOT_USER="matchai"
MINIO_ROOT_PASSWORD="matchai_minio_dev_2026"
MINIO_BUCKET="matchai-dev"