# =========================
# MatchAI - App Environment
# LOCAL - NÃO VERSIONAR
# =========================

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Auth
# Temporário enquanto usamos a base do Brava Pass
BETTER_AUTH_SECRET="matchai-dev-secret-2026-trocar-depois"
BETTER_AUTH_URL="http://localhost:3000"

# =========================
# Database
# =========================

DATABASE_URL="mysql://matchai:matchai_dev_2026@localhost:3306/matchai"

DB_HOST="localhost"
DB_PORT="3306"
DB_USER="matchai"
DB_PASSWORD="matchai_dev_2026"
DB_NAME="matchai"

# =========================
# Email / SMTP
# =========================

EMAIL_FROM="Brava Pass <noreply@bravapass.dev>"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="bravapass@gmail.com"
SMTP_PASSWORD="gyer otxj xljo imqn"
SMTP_SECURE="false"

# =========================
# Storage / MinIO
# =========================

STORAGE_DRIVER="s3"

S3_ENDPOINT="http://127.0.0.1:9000"
S3_REGION="us-east-1"
S3_BUCKET="matchai-dev"

S3_ACCESS_KEY_ID="matchai"
S3_SECRET_ACCESS_KEY="matchai_minio_dev_2026"

S3_FORCE_PATH_STYLE="true"
S3_PUBLIC_URL="http://127.0.0.1:9000/matchai-dev"