# =========================
# MatchAI - Mobile Environment
# =========================

# Nesta etapa o aplicativo utiliza mocks
EXPO_PUBLIC_USE_MOCKS="true"

# API Spring Boot futura
EXPO_PUBLIC_API_URL="http://localhost:8080"
